<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop2h</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap framework main css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- This core.css file contents all plugins css file. -->
    <link rel="stylesheet" href="/css/core.css">
    <!-- Theme short.codes/elements style -->
    <link rel="stylesheet" href="/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="/css/custom.css">


    <!-- Modern.izr JS -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Re-captcha V3 -->
    

</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <!-- Start Main.menu Area -->
            <%- include('partials/sticky-header') %>
            <!-- End Main.menu Area -->
        </header>
        <!-- End Header Style -->

        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <%- include('partials/wrapper') %>
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Login Register Area -->
        <div class="htc__login__register bg__white ptb--130"
            style="background: rgba(0, 0, 0, 0) url(/images/bg/5.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="login__register__menu" role="tablist">
                            <li role="presentation" class="login active"><a href="#login" role="tab"
                                    data-toggle="tab">Login</a></li>
                            <li role="presentation" class="register"><a href="#register" role="tab"
                                    data-toggle="tab">Register</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Start Login Register Content -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="htc__login__register__wrap">
                            <!-- Start Single Content -->
                            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                                <form class="login">
                                    <input type="text" id="username-login" placeholder="User Name*">
                                    <input type="password" id="password-login" placeholder="Password*">
                                </form>
                                <div class="tabs__checkbox">
                                    <div class="remember-me">
                                        <input type="checkbox">
                                        <span> Remember me</span>
                                    </div>
                                    
                                    <span class="forget"><a href="">Forget Password?</a></span>
                                </div>
                                <span class="validate-text validate-text-captcha-login">Please pass this captcha !!</span>
                                <div class="g-recaptcha" id="captcha-login" data-widget-id="captcha-login" data-sitekey="<%=siteKey%>"></div>
                                <div class="htc__login__btn mt--30">
                                    <a class="btn-login" style="cursor: pointer;">Login</a>
                                </div>
                                <div class="htc__social__connect">
                                    <h2>Or Login With</h2>
                                    <ul class="htc__soaial__list">

                                        <li><a class="bg--facebook" href="/auth/login-with-facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            <div id="register" role="tabpanel" class="single__tabs__panel tab-pane fade">
                                <form class="login" method="post">
                                    <span class="validate-text validate-text-username">Username must contain 6 to 12
                                        characters</span>
                                    <input type="text" id="username" placeholder="Username" required min="6" max="20">

                                    <input type="email" id="email" placeholder="Email*" required>

                                    <span class="validate-text validate-text-password">Password minimum 6
                                        characters</span>
                                    <input type="password" id="password" placeholder="Password*" required>

                                    <span class="validate-text validate-text-re-password">Re-password incorrect</span>
                                    <input type="password" id="re-password"
                                        placeholder="Re-enter to confirm your password" required>

                                </form>
                                <span class="validate-text validate-text-captcha">Please pass this captcha !!</span>
                                <div class="g-recaptcha" id="captcha-register" data-widget-id="captcha-register" data-sitekey="<%=siteKey%>"></div>
                                <div class="htc__login__btn btn-register">
                                    <a href="#">register</a>
                                </div>
                                <div class="htc__social__connect">
                                    <h2>Or Login With</h2>
                                    <ul class="htc__soaial__list">

                                        <li><a class="bg--facebook" href="/auth/login-with-facebook"><i class="zmdi zmdi-facebook"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
        <!-- End Login Register Area -->
        <!-- Start Footer Area -->
        <%- include('partials/footer') %>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    
    <!-- jquery latest version -->
    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap framework js -->
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!-- All js plugins included in this file. -->
    <script src="/js/vendor/plugins.js"></script>
    <script src="/js/vendor/slick.min.js"></script>
    <script src="/js/vendor/owl.carousel.min.js"></script>
    <!-- Waypoints.min.js. -->
    <script src="/js/vendor/waypoints.min.js"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="/js/main.js"></script>
    <script src="/js/user.js"></script>

</body>

</html>